<!DOCTYPE html>
<html>

<head>
    <title>Login form</title>
</head>
<style>
    body {

        padding: 200px;
        padding-left: 550px;
        padding-right: 550px;
        background-color: skyblue;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #e7e7e7;

    }

    .login {

        width: 450px;
        height: 300px;
        position: absolute;
        text-align: center;
        top: 30%;
        left: 40%;
        background-color: black;
        opacity: 0.8;
        margin: -184px 0px 0px -155px;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.07)
    }

    h1 {
        color: white;
    }

    label {
        text-align: center;
        display: grid;
    }

    button {
        width: 300px;
        height: 40px;

    }

    a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
    }

    button {
        background: #3399ff;
        border: 0;
        width: 310px;
        height: 40px;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        transition: background 0.4s linear;
    }

    h1 {
        padding-left: 30px;
    }

    button:hover {
        background-color: lightskyblue;
        color: blue;
    }

    p {
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
</style>

<body>
    <div class="login">
        <form action="/">
            <h1>HOME PAGE</h1>
            <button><a href="users/register"> register</a></button><br><br><br>
            <button><a href="users/login">login</a></button>
        </form>
    </div>
</body>

</html>